@import "reset";
@import "mixin";
$device:18;
$ppr:720px/$device/1rem;
$pprVal:720/18;

//vue过渡效果
.router-slid-enter-active, .router-slid-leave-active {
  transition: all .4s;
}
.router-slid-enter, .router-slid-leave-active {
  transform: translateX(100%);opacity: 0;
}
